.DS_Store
*.pyc 
*.xml
.vscode/launch.json
software/hypha_register_demo.py
software/control/gxipy/gxwrapper.py
software/control/gxipy/GxIAPI.dll
software/control/gui_hcs.py
software/main_hcs.py
cache/laser_af_reference_plane.txt
software/control/core.py
software/test.py
